<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.festum.festumfield">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.example.mymap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name="com.festum.festumfield.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.festum.festumfield.Activity.ChatProductSelectActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.DisplayProductImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.festum.festumfield.Activity.MessageInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.ReelsPerviewActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.CreateReelsActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.ReelsActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.festum.festumfield.Activity.EditGroupDetalisActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.GroupProfileDetalisActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.MarketingNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.PromotionBillDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.PaymentSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.ApplyCouponActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.PromotionBillActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.PublishDateTimeActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.ChooseUserPromotionActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.PromotionPlanActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.CreateNotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.PromotionActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.ConversationActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.DisplayAllProductActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.CreateGroupTitleActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.CreateNewGroupActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name="com.festum.festumfield.Activity.LikeAndCommentActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

<!--        <service-->
<!--            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"-->
<!--            android:enabled="true" />-->

        <activity
            android:name="com.festum.festumfield.Activity.VideoCallReciveActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.UpcomingCallActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.ChattingAudioCallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.PromotionDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.festum.festumfield.Activity.SelectUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.SelectUserPackageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.RequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.ChatUserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.ChatingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.Contact_Us_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.ChangeNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.BlockedContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.ProductDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.MapsLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.festum.festumfield.Activity.ProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.festum.festumfield.Activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.BusinessProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.LoginVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.festum.festumfield.Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.festum.festumfield.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.festum.festumfield.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.festum.festumfield.Service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>