<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.festum.festumfield">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.example.mymap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.ChatProductSelectActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DisplayProductImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.MessageInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ReelsPerviewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateReelsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ReelsActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Activity.EditGroupDetalisActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GroupProfileDetalisActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MarketingNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PromotionBillDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentSuccessfulActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ApplyCouponActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PromotionBillActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PublishDateTimeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChooseUserPromotionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PromotionPlanActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PromotionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DisplayAllProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateGroupTitleActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateNewGroupActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".Activity.LikeAndCommentActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.VideoCallReciveActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UpcomingCallActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChattingAudioCallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PromotionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SelectUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SelectUserPackageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatUserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HelpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Contact_Us_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangeNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BlockedContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProductDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MapsLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.ProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BusinessProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.festum.festumfield.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Service.MyFirebaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/noti_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
    </application>

</manifest>