<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.festum.festumfield">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.example.mymap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--
<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".verstion.firstmodule.FestumApplicationClass"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".verstion.firstmodule.screens.main.SettingsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.chat.IncomingCallActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.chat.ChatUserActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.chat.GroupChatActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.ApplicationPermissionActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.webrtc.AppAudioCallingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.webrtc.AppGroupVideoCallingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.webrtc.AppVideoCallingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.webrtc.WebAudioCallingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.webrtc.WebVideoCallingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.group.EditGroupActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.group.GroupDetailsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.group.CreateGroupActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.group.NewGroupActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".verstion.firstmodule.screens.main.profile.CreateBusinessProfileActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.profile.CreatePersonProfileActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.HomeActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.profile.ProfilePreviewActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.chat.ChatActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DisplayProductImageActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.ReelsPerviewActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateReelsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ReelsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MarketingNotificationActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PromotionBillDetailActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PaymentSuccessfulActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ApplyCouponActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PromotionBillActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PublishDateTimeActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChooseUserPromotionActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PromotionPlanActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateNotificationActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PromotionActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ConversationActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DisplayAllProductActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateGroupTitleActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".Activity.LikeAndCommentActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key_new_one" />

        <activity
            android:name=".Activity.PromotionDetailsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SelectUserActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SelectUserPackageActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RequestActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HelpActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Contact_Us_Activity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangeNumberActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BlockedContactActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
 <activity
            android:name=".Activity.SettingActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".Activity.ProductDetailsActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MapsLocationActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddProductActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activity.ProductActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <uses-library android:name="com.google.android.maps" />
        <!--
<activity
            android:name=".Activity.BusinessProfileActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".verstion.firstmodule.screens.main.authorization.LoginVerifyActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.authorization.LoginActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verstion.firstmodule.screens.main.splash.SplashActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.festum.festumfield.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".Service.MyFirebaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/noti_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <receiver
            android:name=".verstion.firstmodule.sources.base.NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>